.ios-switch-container {
  font-size: 150%;
  border-radius: 999px;
  border: 1px solid #434a62;
  display: inline-block;
  position: relative;
  height: 1em;
  width: 3em;
  overflow: hidden;
}
.ios-switch-container input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.ios-switch-container .off {
  display: block;
  position: absolute;
  vertical-align: middle;
  width: 3em;
  height: 1em;
  background: white;
  background: linear-gradient(#f8f8f8, #f9f9f9);
  overflow: hidden;
  box-shadow: 0 .1em .1em #b4b6bb inset, 0 .45em 0 .1em #eee inset;
  border-radius: inherit;
  z-index: 0;
}
.ios-switch-container .off:after {
  content: 'No';
  color: #2B3247;
  text-shadow: 0 2px 0 #fff;
  text-indent: 1.9em;
}
.ios-switch-container .on {
  position: absolute;
  display: block;
  float: left;
  vertical-align: middle;
  width: 3em;
  height: 1em;
  background: white;
  background: linear-gradient(#697597, #8790a9);
  overflow: hidden;
  box-shadow: 0 .1em .1em #38425e inset, 0 .45em 0 .1em #505e85 inset;
  border-radius: inherit;
  z-index: 0;
  left: -2em;
}
.ios-switch-container .on:after {
  content: 'Yes';
  color: #fff;
  text-shadow: 0 -2px 0px #000000;
  text-indent: .7em;
}
.ios-switch-container .on:after,
.ios-switch-container .off:after {
  text-transform: uppercase;
  position: relative;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  top: .25em;
  line-height: 1;
}
.ios-switch-container .switcher {
  width: 1em;
  height: 1em;
  border: 1px solid #485069;
  background: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  box-shadow: 0 0.1em 0.1em 0.1em #d2d2d2 inset, 0 0 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: 0;
}
